/*Schrijf hier jouw css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

nav {
    background-color: black;
    padding: 0 40px;

    flex-basis: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 2;
}

nav a {
    color: white;
    text-decoration: none;
}

.navigate-items-right {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    flex-shrink: 1;
}



.page {
    padding: 0 40px;
}

.headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-basis: 280px;
    border-radius: 8px;
    background-color: #C16E70;
    height: 350px;
    padding: 16px;
}

.red-container-left {
    flex-grow: 0;
    flex-shrink: 1;
}

.red-container-middle {
    flex-grow: 0;
    flex-shrink: 1;
}

.red-container-right {
    flex-grow: 0;
    flex-shrink: 1;
}
